@import "../libs/variable.scss";
@import "../libs/normalize.scss";
.container {
    background-image: url("../../assets/login/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: .9;
    display: flex;
    font-family: $main-font;

}
.form{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    &Content {
        opacity: 1;
        border-radius: 2rem;
        padding: 2rem;
        background-color: white;
        padding-top:5rem;
        padding-bottom: 10rem;
        width: 100%;
        max-width: 43rem;
        align-self: center;
        box-shadow: 0px 5px 10px 0px $green-color; 
        h1{
            position: relative;
            text-align: center;
            font-weight: $weight-700;
            font-size: 3rem;
            display: block;
            margin-bottom: 1rem;
            &::before{
                content: "";  
                position: absolute;
                background-image: url("../../assets/header/textHeader.png");
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
                 bottom: 35%;
                left: 70%;
                width: 55px;
                height:20px;
            }
        }
        p{
            text-align: center;
            margin-bottom: .1rem;
            font-weight: $weight-500;
            font-size: 1rem;
            color: $main-color;
            display: block;
            &:last-of-type{
                margin-bottom: 2rem;
                a{
                    color: $green-color;
                    text-decoration: none;
                }
            }
        }
        
    }
}

.formBoxSocial {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: $weight-500;
    font-size: 1rem;
    color: $main-color;
    &Items{
        margin-top: 2rem;
    }
}
.danger{
    text-align: center;
    margin-bottom: .1rem;
    font-weight: $weight-500;
    font-size: 1rem;
    color: red;
    display: block;
}
